.side-drawer {
  height: 100%;
  background:black;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 300px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
    transform: translateX(0);
}

.SideNav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 23px;
  color: white;
  display: block;
  border-bottom: 1px solid white;
}

li.SideNav {
  list-style-type: none;
}

ul.SideNav {
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.SideNav :hover {
  background-color: #181818;
  text-decoration: none;
}

.SideNav a:hover {
  color: yellow;
}

@media (min-width: 796px) {
    .side-drawer {
        display: none;
    }

    .toolbar__logo {
        margin-left: 0;
    }
}
